@{
    ViewBag.Title = "loggedInAdmin";
}

<h2>loggedInAdmin</h2>

@if (Session["UtilisateurId"] != null)
{
    @Html.ActionLink("Se déconnecter", "logout")<br />
    <h4>Catalogue</h4>
    @Html.ActionLink("Ajouter un catalogue","AjouterCatalogue","Catalogue")<br />
    <h4>Produits</h4>
    @Html.ActionLink("Ajouter un produit","AjouterProduit","Produit")<br />
    @Html.ActionLink("Lister les produits","ListerProduitsAdmin","Produit")<br />
    <h4>Promotions</h4>
    
    <h4>Rôles</h4>
    @Html.ActionLink("Lister les rôles","ListerRoles","Role")<br />
    <h4>Abonnements</h4>
    @Html.ActionLink("Ajouter un abonnement","ajouterAbonnement","Abonnement")<br />
    @Html.ActionLink("Lister les abonnements","listerTousAbonnement","Abonnement")<br />
    <h4>Cadeaux d'anniversaire</h4>
    @Html.ActionLink("Ajouter un anniversaire","ajouterAnniversaire","Anniversaire")<br />
    @Html.ActionLink("Lister les anniversaires","listerAnniversaires","Anniversaire")<br />
    
    
}