@model Fil_rouge_evente.Metier.Utilisateur
@{
    ViewBag.Title = "Connexion";
}

<h2>Connexion</h2>

@using (Html.BeginForm("Connexion","Client",FormMethod.Post))
{
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <span>@Html.DisplayNameFor(model => model.login) :</span><span>@Html.TextBoxFor(model => model.login)</span><br />
    <span>@Html.DisplayNameFor(model => model.password) :</span><span>@Html.PasswordFor(model => model.password)</span><br />
    <button type="submit">Valider</button>
}